.view {
  display: flex;
  width: 100%;
}
.row-view {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.half-partition {
  flex: 1;
}
.chunk {
  flex: 1;
  margin: 10px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
tr.active {
  background-color: lightgray;
}
.map-view {
  width: 800px;
  height: 400px;
}
.deck {
  background-color: lightgray;
  border: 1px solid black;
}
